@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Kanit:wght@300&family=Montserrat:wght@500&display=swap');

:root {
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
    font-size: 1.6rem;
    background: linear-gradient(to right, #08634b7e, #0a5c4767, #0c686873); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    font-family: 'Inconsolata', sans-serif;
}

img {
    height: 6rem;
    width: 6rem;
    border: 0;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.score-card {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c686828;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}
.game-board {
    height: 21rem;
    width: 21rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: var(--box-shadow);
}

.piece {
    height: 7rem;
    width: 7rem;
    background-color: #0c686828;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.piece:hover {
    background-color: #5bc0c028;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-github {
    font-size: 2rem;
    color: black;
}

.fa-github:hover {
    transform: scale(1.2);
}